h1.homeH1 {
    text-align: center;
}

div.homePage {
    align-items: center;
    align-self: center;

}


h1.paddingTop {
    padding-top: 20px;
}
img.homePageimg{
    align-self: center;
    align-items: center;
    align-self: center;
}

div.container {
    display: flex;
    align-items: center;
    justify-content: center
}
img.homePage {
    max-width: 100%
}
img.needboard{
    border-image-width: 1000px;
    border-width: 1000px;
    border-color: #9FFFC0;
    border-radius: 100px;
}

h1.text {
    font-size: 40px;
    padding-left: 10px;
}
h2.text {
    font-size: 20px;
    padding-left: 10px;
}
